<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.hhhhhx.mapper.RoleMapper">

    <select id="queryRoleList" resultType="role">
        select * from mbgl.role
    </select>

    <!--<insert id="addUser" parameterType="user">-->
    <!--    insert into mybatis.user(id, name, pwd) VALUES (#{id},#{name},#{pwd})-->
    <!--</insert>-->
</mapper>
