<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhhhhx.mbgl.mapper.MessageMapper">


    <select id="getEarlyChat" resultType="Message">
        select m.id, m.type, m.content, m.create_time, m.send_user_id, m.receive_user_id, m.prescription_id
        from (select m2.id, m2.type, m2.content, m2.create_time, m2.send_user_id, m2.receive_user_id,m2.prescription_id
              from mbgl.t_message m2
              where m2.create_time &lt; #{targetTime}
                and ((m2.send_user_id = #{sendUserId} and m2.receive_user_id = #{receiveUserId})
                  or (m2.send_user_id = #{receiveUserId} and m2.receive_user_id = #{sendUserId}))
              ORDER BY m2.create_time desc
              LIMIT #{pageSize}) as m
        ORDER BY m.create_time asc
    </select>

    <select id="getNewChat" resultType="Message">
        select m2.id, m2.type, m2.content, m2.create_time, m2.send_user_id, m2.receive_user_id,m2.prescription_id
        from mbgl.t_message m2
        where m2.create_time &gt; #{targetTime}
          and ((m2.send_user_id = #{sendUserId} and m2.receive_user_id = #{receiveUserId})
            or (m2.send_user_id = #{receiveUserId} and m2.receive_user_id = #{sendUserId}))
        ORDER BY m2.create_time asc
    </select>
</mapper>
