<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhhhhx.mbgl.mapper.OrderMapper">

    <resultMap id="orderDTO" type="com.hhhhhx.mbgl.dto.OrderDTO">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="address" property="address"/>
        <result column="address_name" property="addressName"/>
        <result column="address_phone" property="addressPhone"/>
        <result column="address_area" property="addressArea"/>
        <result column="step" property="step"/>
        <result column="pay" property="pay"/>
        <result column="create_time" property="createTime"/>
        <result column="ocost" property="cost"/>
        <collection column="id" property="orderItemList" ofType="com.hhhhhx.mbgl.dto.OrderItemDTO"
                    select="getOrderItemMerge"/>
    </resultMap>


    <select id="getOrderItemMerge" resultType="com.hhhhhx.mbgl.dto.OrderItemDTO">
        select sum(oi.quantity) quantity,
               sum(oi.price)    price,
               d.name           name,
               d.image          image
        from mbgl.t_order_item oi
                 INNER JOIN mbgl.t_stock s on s.id = oi.stock_id
                 INNER JOIN mbgl.t_drug d on d.id = s.drug_id
        where oi.order_id = #{id}
        GROUP BY oi.id, oi.order_id, d.id, d.name, d.image
    </select>

    <select id="getOrderDTOList" resultMap="orderDTO">
        SELECT o.id,
        o.user_id,
        o.address,
        o.address_name,
        o.address_phone,
        o.address_area,
        o.step,
        o.pay,
        o.create_time,
        c.cost ocost
        FROM mbgl.t_order o
        inner join mbgl.t_charge c on c.order_id = o.id
        <where>
            <if test="user_id != null">
                and user_id = #{user_id}
            </if>
            <if test="order_id != null">
                and o.id = #{order_id}
            </if>
        </where> order by o.create_time desc
    </select>

</mapper>
